### To set custom config:
### Remove the "#" before a variable, for example:
### "#port = 8080" to "port = 8080"
### Note to Windows users: you need to use "\\" for folder separators.

[server]
### The web port to be used.
### Default: 8081
#port = 8080

[mpd]
### The MPD location.
### Default: "localhost"
#url = "mpdserver.lan"

### The MPD port of the url
### Default: 6600
#port = 6600

### The music library location that MPD also uses. This is used for extra
### features such as music downloading and album art detection.
### Default: ""
#library = "~/Music"

[vote]
### Enable vote skipping (set to false if you are having issues with voting)
### Default: true
#enabled = false

### Vote skipping percentage. 0.75 = 3/4 clients need to vote in order for a
### skip to be successful
### Default: 0.75
#percent = 0.50

[users]
### Show user lists to clients (shows hostnames via DNS if possible). This may
### be "removed" in the future if support for sharing playlist buffers is
### added, in which case you would disable sharing of the playlist buffers.
### Default: false
#enabled = true

[downloader]
### Enable the Downloader (note: "library" needs to be set for this to actually
### be enabled)
### Default: true
#enabled = false

### Set the Downloader download location for the clients RELATIVE to the
### MPD library location. Note: Having ".." in the name is possible. Make sure
### your permissions are properly set on your system!
### Default: "Downloads"
#directory = ""

### Set whether or not to keep the downloaded videos after conversion to mp3.
### If you are changing the "location" you may want to set this to false.
### Note that setting this to false will download videos even when there are
### duplicates.
### Default: false
#keep_videos = true

[testing]
# Used for unit testing. This should only be enabled during development.
### Default: false
#enabled = true
