@minimumWidth: 360px;

html {
    min-width: @minimumWidth;
    overflow-x: hidden; // fixes an issue with context-menus
    overflow-y: hidden; // fixes random bugs that occur with changing the table widths dynamically
}
#page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    display: -webkit-box; /* fallback for apple webkit */
    display: flex;
    -webkit-align-items: center;
    align-items: stretch;
    min-width: @minimumWidth;

    #header-left {
        display: -webkit-box; /* fallback for apple webkit */
        display: flex;
        -webkit-align-items: center;
        align-items: stretch;

        #volume {
            width: 30px; // width set for webkit
            height: 60px;
            -webkit-appearance: slider-vertical;
        }
        #media-buttons {
            display: -webkit-box; /* fallback for apple webkit */
            display: flex;
            -webkit-flex-direction: column;
            flex-direction: column;
            justify-content: space-around;
        }
    }
    #header-middle {
        display: -webkit-box; /* fallback for apple webkit */
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        flex: 2;

        // I want the height of the image to depend on the header,
        // but only ff seems to do what I want atm. Might try to css hack my
        // way to get it working later...
        #album-art {
            flex: 0;
            height: 60px;
            padding: 0 5px;
        }
    }
    #header-right {
        display: -webkit-box; /* fallback for apple webkit */
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        justify-content: space-around;
        width: 200px;

        #header-right-top {
            display: -webkit-box; /* fallback for apple webkit */
            display: flex;
            align-items: center;
        }
    }
}
main {
    display: flex;
    flex: 2;
    overflow-y: auto;
    overflow-x: hidden; // dragging off screen

    #browser {
        display: flex;
        flex-direction: column;

        -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;

        #browser-header {
            display: flex;
        }

        #slwrap {
            flex-grow: 2;
            overflow-x: hidden; // in case of size issues with js
            position: relative;
        }
    }
    #library {
        display: flex;
        flex-direction: column;

        -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;

        #library-top {
            display: flex;
            flex: 1;
            overflow: auto;

            #library-artists-wrap, #library-albums-wrap {
                overflow: auto;
            }

            #library-artists, #library-albums {
                flex: 1;
                display: flex;
                flex-direction: column;
                overflow: auto;
            }
        }

        #library-songs {
            flex: 1;
            overflow-y: auto;
            overflow-x: hidden; // fix issues with dragging
            display: flex;
            flex-direction: column;

            #library-songs-wrap {
                overflow: auto;
            }
        }
    }
    #playlist {
        display: flex;
        flex-direction: column;
        -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;

        #playlist-header {
            display: -webkit-box; /* fallback for apple webkit */
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            text-align: center;

            #playlist-title {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        #pslwrap {
            border-left: 1px solid #DDD;
            overflow: auto;
            display: flex;
            flex-grow: 2;

            #playlist-song-list {
                display: flex;
                flex: 1;

                > tbody {
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                }
                td {
                    position: relative;
                }
                tr:hover {
                    .song-play {
                        display: inline;
                    }
                }
            }
        }
    }
}
#pb { // playlist buffer
    width: 400px;
    height: 300px;
    position: fixed;
    margin-bottom: 0;
    bottom: 0;
    right: 0;
    z-index: 1002; // above floathead
    // display: flex; // hidden by css by default, flex added by js
    flex-direction: column;

    .panel-heading {
        .panel-default-shown {
            display: flex;
            align-items: center;
        }

        .panel-title {
            flex: 1;
            text-align: center;
        }
    }

    #pb-main {
        padding: 0;
        overflow: auto;
        display: flex;
        flex: 1;
    }

    #pbwrap {
        display: flex;
        flex: 1;

        > table {
            cursor: pointer;
        }
    }

    #pb-song-list {
        margin-bottom: 0;
        display: flex;
        flex: 1;

        > tbody {
            display: flex;
            flex: 1;
            flex-direction: column;
        }
    }
}
#pb-tab {
    width: 200px;
    position: fixed;
    margin-bottom: 0;
    bottom: 0;
    right: 0;
    z-index: 1002; // above floathead
    background: #404040;
    color: white;
    padding: 8px;
    cursor: pointer;
}
#downloader {
    min-width: 400px;

    #downloader-status {
        min-height: 20px;
    }
}
#browser-selection {
    flex: 0;
    text-align: center;
}
#downloader-wrap {
    overflow: auto;
    height: ~"calc(100vh - 300px)";
    min-height: 100px;
}
#testing { // unit testing ouput
    width: 400px;
    height: 300px;
    position: fixed;
    margin-bottom: 0;
    bottom: 0;
    z-index: 1002; // above floathead
    display: flex;
    flex-direction: column;

    #testing-main {
        padding: 0;
        overflow: auto;
        flex-grow: 2;
    }
}
.navbar.pages {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .page {
        width:200px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .form-control {
            max-width: 80px;
        }
    }
}
// floatThead
table.floatThead-table {
    border-top: none;
    border-bottom: none;
    background-color: #FFF;
    cursor: pointer;
}
.floatThead-wrapper {
    flex-grow: 2;
    display: flex;
    overflow: auto;
}
.floatThead-container {
    top: auto !important;
}
.flex-full {
    -webkit-box-flex: 1; /* fallback for apple webkit */
    flex: 1;
}
.song-list, #downloader-folder-list, #playlist-song-list, #home, #downloader-home, .loc-dir, .downloader-loc-dir,  .playlists, .faded, #library-artists-list, #library-albums-list, #downloader-home {
    cursor: pointer;
}
.faded {
    opacity: 0.5;
}
.faded:hover {
    opacity: 1;
}
.nowrap, .song-list-icons, .playlist-song-list-icons {
    white-space:nowrap;
}
.song-list-icons {
    // slightly less jarring when there there is an init width
    min-width: 25px;
}
.fixed-table {
    /* magic */
    width: 100%;
    table-layout: fixed;
}
.fixed-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.notify {
    position: fixed;
    bottom: 0px;
    z-index: 9999;
}
.playlists, #pb-main, #downloader-folder-list {
    user-select: none; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}
.none { // like .hidden, except without !important
    display: none;
}
.dropdown-menu > li > a.no-hover:hover {
    background: inherit;
}
// bootstrap
.modal-dialog {
    min-width: @minimumWidth;
}
.dropdown-menu {
    z-index: 1003 !important; // above pb and floathead
}
// disables sorting for dragged item
.song-list .no-placeholder {
    display: none;
}
// enables sorting for dragged item
#playlist-song-list .no-placeholder, #pb-song-list .no-placeholder {
    display: block;
}
// context menu customizations
.context-menu-list {
    padding: 0 0 5px;
    max-width: 500px;
}
// context menu title
.context-menu-item:first-child {
    background: #EDEDED;
    color: #7D7D7D;
    font-size: 0.8em;
    cursor: default;
    margin-bottom: 5px;
}
.space-between {
    display: -webkit-box; /* fallback for apple webkit */
    display: flex;
    justify-content: space-between;
}
.main-link {
    flex: 1;
    text-align: center;
}
.gen {
    flex: 1;
}
.glyphicon.spinning {
    animation: spin 1s infinite linear;
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg) }
    to { transform: scale(1) rotate(360deg) }
}
.pulse {
    animation: pulse ease 1s;
}
.pulse2 {
    animation: pulse ease 1s 2;
}
@keyframes pulse {
    0%, 100% {
        background-color: inherit;
    }
    50% {
        background-color: #bababa;
    }
}

// "mobile"
@media (max-width: 768px) {
    html {
        overflow-y: auto;
        overflow-x: auto;
    }
    #page-wrapper {
        height: auto;
    }
    main {
        flex-direction: column;
        height: auto;
    }
    #album-art {
        display: none;
    }
    #pb, #pb-tab { // playlist buffer
        width: 100%;
    }
    #browser, #playlist, #library {
        margin-top: 16px;
        height: 500px;
    }
    // accessibility for scrolling
    #pslwrap, #slwrap {
        border-left: 1px solid #DDD;
        border-right: 1px solid #DDD;
        border-bottom: 1px solid #DDD;
    }
}
