[Unit]
Description=A Web Server and Client Frontend for Music Player Daemon
After=mpd.service

[Service]
Type=forking
Restart=always
User=mpd
Group=mpd
WorkingDirectory=/home/mpd/mpcparty
ExecStart=/usr/bin/screen -dmS mpcparty /usr/bin/node server.js
ExecStop=/usr/bin/screen -S mpcparty -X quit

[Install]
WantedBy=multi-user.target

