[Unit]
Description=A Web Server Frontend for Music Player Daemon
After=mpd.service

[Service]
Type=forking
User=dank
Group=dank
WorkingDirectory=/home/dank/mpcparty
ExecStart=/usr/bin/screen -dmS mpcparty /usr/local/bin/forever /home/dank/mpcparty/server.js 
ExecStop=/usr/bin/screen -S mpcparty -X quit

[Install]
WantedBy=multi-user.target

