$table-cell-padding: 0.1rem;
$breadcrumb-padding-y: 0.1rem;
$breadcrumb-padding-x: 0.2rem;
$nav-link-padding-y: 0.2rem;
$nav-link-padding-x: 0.4rem;
$navbar-padding-y: 0.1rem;
$navbar-padding-x: 0.2rem;
$form-group-margin-bottom: 0.5rem;
$input-height: auto;
$input-btn-padding-y: 0.2rem;
$input-btn-padding-x: 0.4rem;
